:root {
    --bg-color: #CCC7C7; 
    --text-primary: #0e0e0e;
}
/* This applies to every single piece of text on the site */
html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
    -webkit-font-smoothing: antialiased; /* Makes fonts look smoother on Mac */
}

/* Rules for all Menu links */
nav a, .menu-item {
    font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:var(--text-primary);
    text-decoration: none;
}

/* Rules for all Footers */
footer, .footer-text {
    font-size: 18px;
    color: black;
}